### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.DS_Store

### Eclipse ###
*.class
/target/
/.settings/
*.project
*.classpath
*.mymetadata
/.metadata/
/.externalToolBuilders/
/bin/

### module ###
**/target/
